<!DOCTYPE html>
<html lang="en">

  <head>

    {% block title %}{% endblock%}

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta charset="utf-8">
    {% block description %}{% endblock%}

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- FavIcon -->
    <link rel="icon" type="image/gif" href="">
    <!-- ^ to do -->

    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">

  </head>

  <body id="page-top">

    {% block content %}{% endblock%}

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; SwA 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">

              <li class="list-inline-item">
                <a target="_blank" href="https://swojak-a.github.io/">
                  <i class="fas fa-globe"></i>
                </a>
              </li>

              <li class="list-inline-item">
                <a target="_blank" href="mailto:swojak.a@gmail.com">
                  <i class="fa fa-envelope"></i>
                </a>
              </li>
              
              <li class="list-inline-item">
                <a target="_blank" href="https://github.com/Swojak-A">
                  <i class="fa fa-github"></i>
                </a>
              </li>

            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script async src="/static/vendor/agency-template/jqBootstrapValidation.js"></script>
    <script src="/static/vendor/agency-template/contact_me.js"></script>
    <script type="text/javascript">
      $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
    </script>

    <!-- Custom scripts for agency template -->
    <script src="/static/vendor/agency-template/agency.min.js"></script>

    {% block scripts %}{% endblock%}

</body>
</html>