<!-- Google Maps API script -->
{% macro google_maps_script() %}
    <script>
// Initialize and add the map
function initMap() {
  var restaurantLocation = {lat: -25.344, lng: 131.036};
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 6, center: restaurantLocation});
  var marker = new google.maps.Marker({position: restaurantLocation, map: map});
}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOC6TQQOdbQjirYhxnbn1CVvFLjfg5gHA&callback=initMap"
  type="text/javascript"></script>
{% endmacro %}

<!-- script extending site -->
{% macro ext_site_script() %}
	<script>
$(document).ready(function() {

    var docHeight = $(window).height();
    console.log(docHeight)
    var footerHeight = $('footer').height();
    // var footerHeight = 90;
    console.log(footerHeight)
    var footerTop = $('footer').position().top + footerHeight;

    if (footerTop < docHeight)
        $('footer').css('margin-top', 10 + (docHeight - footerTop) + 'px');
});
	</script>
{% endmacro %}