{% extends "_base.html" %}
{% from "_macros.html" import nav_bar, header, message_flashing, google_maps_script, address with context %}

<!-- HEAD -->
{% block title %}
  <title>Online Menu</title>
{% endblock %}

{% block description %}
    <meta description="still i'll have to fill this up">
{% endblock%}

<!-- BODY -->
{% block content %}

  {{ nav_bar({"Services":"#services", "Restaurants":"#restaurants", "How To":"#how-to"}) }}

  {{ header(main_page=True, prompt_cities=prompt_cities) }}

  {{ message_flashing() }}

    <!-- Services -->
    <section class="triple-padding" id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">Best restaurants and bars from your place in one place online!</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-building fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Wide Range</h4>
            <p class="text-muted">Over 1500+ restaurants from all over the globe. Browse through them and find out what they have to offer.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-utensils fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Delicious Meals</h4>
            <p class="text-muted">Explore new tastes and exotic cuisines. You want to try something you've never tried? Here on Online Menu we have everything you need.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-shopping-basket fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Online Reservation</h4>
            <p class="text-muted">Save your time by reserving tables via Online Menu. We will provide you with all the details you need.</p>
          </div>
        </div>
      </div>
    </section>




    <!-- Restaurants Teaser -->
    <section class="triple-padding bg-light" id="restaurants">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Restaurants</h2>
            <h3 class="section-subheading text-muted">Check out our top restaurant!</h3>
          </div>
        </div>
        <div class="row">
          {% for restaurant in restaurants %}
          <div class="col-md-4 col-sm-6 restaurants-item">
            <a class="restaurants-link" href="{{url_for('restaurantMenu', restaurant_id=restaurant.id)}}">
              <div class="restaurants-hover">
                <div class="restaurants-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{{ restaurant.img_thumb }}" alt="">
            </a>
            <div class="restaurants-caption text-left shadow-sm">
              <h4>{{ restaurant.name }}</h4>
              {% if restaurant.location[0] %}
              <p class="text-muted">{{ address(location=restaurant.location[0]) }}</p>
              {% else %}
              <p class="text-muted">Location not found in the database.</p>
              {% endif %}
              <a href="{{url_for('restaurantMenu', restaurant_id=restaurant.id)}}">Browse menu</a>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="row">
          <div class="col-lg-12 text-right">
            <a href="{{url_for('restaurants')}}">more restaurants</a>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 text-center">
            <a class="btn btn-primary btn-text-black js-scroll-trigger" href="{{url_for('newRestaurant')}}" style="margin-top: 45px;">Add your restraurant</a>
          </div>
        </div>


      </div>
    </section>




    <!-- How-To -->
    <section class="triple-padding" id="how-to">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">How does Online Menu work?</h2>
            <h3 class="section-subheading text-muted">Find out how to order dinner on our site.</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="/static/img/index-how/how-step1.jpeg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="text-muted">Step 1</h4>
                    <h4 class="subheading">Browse through our Restaurants</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>

              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="/static/img/index-how/how-step2.jpeg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="text-muted">Step 2</h4>
                    <h4 class="subheading">Find out what would you like to eat</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>

              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="/static/img/index-how/how-step3.jpeg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="text-muted">Step 3</h4>
                    <h4 class="subheading">Reserve a table online</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>

              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Enjoy
                    <br>Your
                    <br>Meal!</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>


{% endblock %}


{% block scripts %}

<script type="text/javascript">
  
  $(document).ready( function() {
    $(document).on('click', '#search-btn', function(event) {
      pass_search_values();
      event.preventDefault();
    });
  });

  var pass_search_values = function() {
    var location = $('input[name="location"]').val();
    var input = $('input[name="input"]').val();

    var encoded_params = { location: location, input: input };
    var params_str = jQuery.param( encoded_params );
    var full_link = '/restaurants?' + params_str;
    
    window.location.href = full_link;
  };

</script>

<script type="text/javascript">

  $.get("https://ipinfo.io/json", function (response) {
    $('#ip-location-prompt').text(response.city);
}, "jsonp");

</script>

<script type="text/javascript">
  
  $('.location-prompt').on('click', function() {
    var prompt_location = $(this).text();
    $('input[name="location"]').val(prompt_location);
  });

</script>

{% endblock %}
