{% extends "_base.html" %}
{% from "_macros.html" import nav_bar, header, message_flashing with context %}
{% from "_macros_js.html" import ext_site_script %}

<!-- HEAD -->
{% block title %}
  <title>Delete a restaurant: {{ restaurant.name }}</title>
{% endblock %}

{% block description %}
    <meta description="still i'll have to fill this up">
{% endblock%}

<!-- BODY -->
{% block content %}

  {{ nav_bar() }}

  {{ header(main_page=Fasle, restaurant=restaurant) }}

  {{ message_flashing() }}

    <section class="bg-white">
      <div class="container item">
        <div class="row">
          <div class="col-lg-12 text-left">

            <h1 class="section-heading">Are you sure to delete a restaurant: {{ restaurant.name }}?</h1>

          </div>
        </div>
      </div>
    </section>

    <!-- Form section -->
    <section class="bg-white" id="restaurant-form">
      <div class="container item">
        <div class="row">
          <div class="col-lg-12 text-left">

            <form action="{{url_for('deleteRestaurant', restaurant_id=restaurant.id)}}" method = 'POST'>
              <div class="form-group">
                <input name="confirmation" class="form-control" id="restaurant-name" type="text" placeholder="To delete restaurant type 'DELETE'" required="required" data-validation-required-message="Please enter your restaurant name.">
                <p class="help-block text-danger"></p>
              </div>
                <button class="btn btn-xl btn-block btn-primary" type="submit">Delete restaurant</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </section>


{% endblock %}

{% block scripts %}
    {{ ext_site_script() }}
{% endblock%}