{% from "_macros.html" import address, show_tags %}

          {% for restaurant in restaurants.items %}
          <div class="col-12 rest-search-result">
            
            <div class="row">
              
              <div class="col-lg-4 col-md rest-result-pic">
                <div class="shadow-sm" style="background-image: url({{ restaurant.img_thumb }});">
                </div>
              </div>
              
              <div class="col-lg-8 col-md rest-result-caption">
                <div class="bg-white shadow-sm">
                  <div class="text-left">
                    <h3>{{restaurant.name}}</h3>
                    {% if restaurant.location[0] %}
                      <p class="text-muted">{{ address(location=restaurant.location[0]) }}</p>
                    {% else %}
                      <p class="text-muted">Location not found in the database.</p>
                    {% endif %}
                    <hr class="l-hide">
                    {{ show_tags(tags=restaurant.tags, hide=True) }}
                  </div>
                  <div class="text-right bottom-links">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#">Call</a>
                      </li>
                      <li class="list-inline-item">
                        <p>•</p>
                      </li>
                      <li class="list-inline-item">
                        <a href="{{url_for('restaurantMenu', restaurant_id=restaurant.id)}}">Browse menu</a>
                      </li>
                    </ul>

                    <!-- <a href="{{url_for('restaurantMenu', restaurant_id=1)}}">Browse menu</a> -->
                  </div>
                </div>
              </div>
            </div>

          </div>
          {% endfor %}

          <div class="col-12 text-right">
            {% for page in restaurants.iter_pages() %}

              {% if page %}
                <a class="page-link" href="{{url_for('search_results', page=page)}}" style="display: inline-block;">{{ page }}</a>
              {% else %}
                ...
              {% endif %}

            {% endfor %}
          </div>

